<!DOCTYPE html>
<html lang="en">

<head>
{% block  head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="alpha-omega-technology">

  <meta property="og:title" content="SmartEnv: Ihre Umweltdaten auf einen Blick" />
  <!--<meta property="og:description" content="Speed–O–mat ist eine IoT-Anwendung für die Verkehrsüberwachung mit Geschwindigkeitsdaten. Sie können Speedfreaks, Sensoren für die Datenaufnahme, an relevante Verkehrspositionen (z.B. in Schulnähe oder schlecht einsehbare Kreuzungen) montieren. Diese senden dann gemessene Geschwindigkeit mit einem Zeitstempel per Gateway an die Speed – O – mat-App und gleicht die Daten mit den von Ihnen festgesetzten Einstellungen ab. In der App können Sie dann einen genauen Einblick in die Verkehrsituation ihrer gewünschten Position bekommen. Nutzen Sie die gewohnen Daten der Speedfreaks um Maßnahmen zur Verkehrsberuhigung zu planen und anschließend ebenfalls zu überprüfen." />-->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ url_for('index', _external=True) }}" />
  <meta property="og:image" content="{{ url_for('static', filename='img/AOT-ENGIE-DEMO-QQ.png', _external=True) }}" />
  <meta property="og:locale" content="de_DE" />

  <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <title>
  {% if title %}{{ title }}{% endif %}
  {% block title %}
  {% endblock %}
  </title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
  <style>
    .bg-gradient-primary {
      background-color: #62b22e;
      background-image: linear-gradient(35deg,#62b22e 10%,#10537e 100%);
      background-size: cover;
    }
  </style>
  {% block style%}
  {% endblock %}
{% endblock %}
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index') }}">
        <div class="sidebar-brand-icon rotate-15">
          <i class="fas fa-cloud-sun"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SmartEnv</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">
          <i class="fas fa-fw fa-desktop"></i>
          <span>Dashboard</span></a>
      </li>


      <!-- Nav Item - Pages Collapse Menu
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-car-crash"></i>
          <span>Speed-O-Maten</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
{% for speedfreak in speedfreaks %}
  {% if speedfreak.active %}
            <a class="collapse-item" href="{{ url_for('locations_show', speedfreak_id=speedfreak.speedfreak_id) }}">{{ speedfreak.name }}</a>
  {% endif %}
{% endfor %}

{% if (current_user.is_authenticated and current_user.admin) %}
            <hr>
            <a class="collapse-item" href="#" data-toggle="modal" data-target="#addspeedfreak">
              <i class="fas fa-plus-square fa-sm fa-fw mr-2 text-gray-400"></i>
              Add
            </a>
{% endif %}
          </div>
        </div>
      </li>-->

{% if current_user.is_authenticated %}
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Einstellungen
      </div>

      <!-- Nav Item - Profile -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user', user_id=current_user.id) }}">
          <i class="fas fa-fw fa-user"></i>
          <span>Profil</span></a>
      </li>
{% endif %}

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Brands & Logos -->
          <a class="navbar-brand" href="https://iot-shop.de/">
            <img style="height: 60px;" alt="IoT-Shop" src="{{ url_for('static', filename='img/IoT-Shop_Logo_600x191.png') }}">
          </a>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <a class="navbar-brand" href="https://www.engie-deutschland.de/">
              <img src="{{ url_for('static', filename='img/engie-logo.jpg') }}" style="height: 60px;" alt="engie">
            </a>

            <!-- Nav Item - User Information -->
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
{% if current_user.is_authenticated %}
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ current_user.firstname }} {{ current_user.lastname }}</span>
                <img class="img-profile rounded-circle" src="{{ current_user.avatar(64) }}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ url_for('user', user_id=current_user.id) }}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profil
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
{% else %}
              <a class="nav-link" href="{{ url_for('login') }}" id="userDropdown" role="button">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Login</span>
                <i class="fas fa-fw fa-user"></i>
              </a>

{% endif %}
            </li>
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

  {% with messages = get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!-- <strong>Title</strong> --> {{ message }}
          </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>
          <!-- Dynamic Content here-->
{% endblock %}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2019-2020 <a target="_blank" href="https://alpha-omega-technology.de/kontakt">Alpha-Omega Technology GmbH & Co.KG</a></span>
            <span><a target="_blank" href="https://alpha-omega-technology.de/datenschutz">Datenschutz</a></span>
            <span><a target="_blank" href="https://alpha-omega-technology.de/impressum">Impressum</a></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>


{% if not cookies_check() %}
  {# show a cookie consent banner #}
  <div class="modal" id="cookie-consent-container" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <span>
            Um unsere Webseite für Sie optimal zu gestalten und fortlaufend verbessern zu können, verwenden wir Cookies. Durch die weitere Nutzung der Webseite stimmen Sie der Verwendung von Cookies zu.
            Weitere Informationen zu Cookies erhalten Sie in unserer <a target="_blank" href="https://alpha-omega-technology.de/datenschutz">Datenschutzerklärung</a>.
          </span>
        </div>
        <div class="modal-footer">
          <button id="cookie-consent" type="button" class="btn btn-primary btn-icon-split btn-sm" data-dismiss="modal">
              <span class="icon text-white-50">
                <i class="fas fa-check-circle"></i>
              </span>
              <span class="text">OK</span>
            </button>
        </div>
      </div>
    </div>
  </div>
  <script>
      var fn = function () {
          document.cookie = "cookie_consent=true";
          //$('#cookie-consent-container').modal('hide');
      };
      $('#cookie-consent-container').modal('show');
      document.getElementById('cookie-consent').onclick = fn;
  </script>
{% endif %}

{% if (current_user.is_authenticated and current_user.admin) %}
  <!-- Modal to Add Speedfreak -->
  <div class="modal fade" id="addspeedfreak" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Speedfreak verbinden</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="selectspeedfreak">Welchen Speedfreak möchten Sie verbinden?</label>
            <select class="form-control form-control-sm" id="selectspeedfreak">
{% for speedfreak in speedfreaks %}
  {% if not speedfreak.active %}
              <option value="{{ url_for('locations_add', speedfreak_id=speedfreak.speedfreak_id) }}" id ="{{ speedfreak.speedfreak_id }}">{{ device.name }}</option>
  {% endif %}
{% endfor %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-primary btn-icon-split" onclick="addlocation();">
            <span class="icon text-white-50"><i class="fas fa-network-wired"></i></span>
            <span class="text">Verbinden</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <script>
    function addlocation() {
      const speedfreak = document.getElementById('selectspeedfreak');
      console.log(speedfreak.value);
      window.location.href = speedfreak.value;
    };
  </script>
{% endif %}

{% block modals%}
{% endblock %}

{% block script %}

{% endblock %}
</body>

</html>
