{% from "macros.html" import render_field, render_field_label, render_checkbox %}
{% extends "base.html" %}

{% block  head %}
{{ super() }}
<!-- Client Side refresh Every 10 Seconds 
<meta http-equiv="refresh" content="30"> -->
{% endblock %}

{% block style%}
    <!-- Custom styles for this page -->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    <!-- Load Leaflet  and Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    <style>
        .roadsign
            {
            background-color:#fff;
            border:15px solid red;
            height:100px;
            border-radius:50%;
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
            width:100px;
            color: black;
            font:bold;
            text-align: center;
            font-size: 36px;
            line-height: 20px;
            padding-top: 24px;
            }

        /* Set the size of the div element that contains the map */
        #map {
        width: 100%;  /* The width is the width of the web page */
        }
    </style>

{% endblock %}



{% block title %}
{{ super() }}
{% if not title %}engie Smart Environment{% endif %}
{% endblock %}

{% block content %}

<!-- Header and action buttons-->
<div class="row">
    <div class="col">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ device.name }}</h1>
        </div>
    </div>
{% if (current_user.is_authenticated and current_user.admin) %}
    <div class="col text-right">
        <a href="#" data-toggle="modal" data-target="#speedfreakedit" class="btn btn-sm btn-primary btn-icon-split mb-1">
            <span class="icon text-white-50"><i class="fas fa-pen"></i></span>
            <span class="text">Bearbeiten</span>
        </a>

        <a href="#" data-toggle="modal" data-target="#setlocation" class="btn btn-sm btn-primary btn-icon-split mb-1">
            <span class="icon text-white-50"><i class="fas fa-map-marked"></i></span>
            <span class="text">Standort</span>
        </a>

    </div>
{% endif %}
</div>

<!-- Metrics -->
<div class="row">

    <!-- Last Tick -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">letzte Messung</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id="cars_total">{{ data.last_tick_at }}</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-clock fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Environment -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Umgebung</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id="cars_total">{{ data['temp'].name + ': ' + data['temp'].value + ' ' + data['temp'].unit }}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id="cars_total">{{ data['pres'].name + ': ' + data['pres'].value + ' ' + data['pres'].unit }}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id="cars_total">{{ data['hum'].name + ': ' + data['hum'].value + ' ' + data['hum'].unit }}</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-cloud-sun-rain fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Particulate Matter -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Feinstaubbelastungen</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['pm25'].name + ': ' + data['pm25'].value + ' ' + data['pm25'].unit }}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['pm10'].name + ': ' + data['pm10'].value + ' ' + data['pm10'].unit }}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['pm1'].name + ': ' + data['pm1'].value + ' ' + data['pm1'].unit }}</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-allergies fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- concentration of gas -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Gaskonzentrationen</div>
                <!-- <div class="h5 mb-0 font-weight-bold text-gray-800" id="cars_total">{{ data['co'].name + ': ' + data['co'].value }}</div> -->
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['o3'].name + ': ' + data['o3'].value  + ' ' + data['o3'].unit }}</div>
                <!--<div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['so2'].name + ': ' + data['so2'].value }}</div>-->
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ data['no2'].name + ': ' + data['no2'].value + ' ' + data['no2'].unit }}</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-burn fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Power -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ data['power'].name }}</div>
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="device_power">{{ data['power'].value + ' ' + data['power'].unit }}</div>
                    </div>
                    <div class="col">
                        <div class="progress progress-sm mr-2">
                            <div id="device_power_bar" class="progress-bar bg-info" role="progressbar" style="width: {{ data['power'].value }}%" aria-valuenow="{{ data['power'].value }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <i class="fas fa-battery-three-quarters fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Charts and About -->
<div class="row">

    <!-- Gas Concentrations -->
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Gaskonzentrationen</h6>
            </div>
            <div class="card-body">
                <div class="chart-container" style="position: relative; height:30vh;">
                    <canvas id="ChartGas"></canvas>
                </div>
                <hr>
                Gaskonzentrationen für {{ device.name }} in den <code>letzten 24 Stunden</code>.
            </div>
        </div>
    </div>

    <!-- Particulary Matter -->
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Feinstaubbelastung</h6>
            </div>
            <div class="card-body">
                <div class="chart-container" style="position: relative; height:30vh;">
                    <canvas id="ChartPmatter"></canvas>
                </div>
                <hr>
                Feinstaubbelastungen von {{ device.name }} in den <code>letzten 24 Stunden</code>.
            </div>
        </div>
    </div>

</div>

<div class="row">

    <!-- Temperature -->
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Temperatur</h6>
            </div>
            <div class="card-body">
                <div class="chart-container" style="position: relative; height:30vh;">
                    <canvas id="ChartTemperature"></canvas>
                </div>
                <hr>
                Temperaturen für {{ device.name }} in den <code>letzten 24 Stunden</code>.
            </div>
        </div>
    </div>

     <!-- Pressure -->
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Luftdruck</h6>
            </div>
            <div class="card-body">
                <div class="chart-container" style="position: relative; height:30vh;">
                    <canvas id="ChartPres"></canvas>
                </div>
                <hr>
                Luftdruck von {{ device.name }} in den <code>letzten 24 Stunden</code>.
            </div>
        </div>
    </div>

</div>

<div class="row">

    <!-- Humidity -->
    <div class="col-lg-6">
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Luftfeuchte</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Zeitraum:</div>
                        <a class="dropdown-item" href="#">Tag</a>
                        <a class="dropdown-item" href="#">Monat</a>
                        <a class="dropdown-item" href="#">Jahr</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-container" style="position: relative; height:30vh;">
                    <canvas id="ChartHumidity"></canvas>
                </div>
                <hr>
                Luftfeuchten von {{ device.name }} in den <code>letzten 24 Stunden</code>.
            </div>
        </div>
    </div>

    <!-- About -->
    <div class="col-lg-6">
        <!-- Collapsable Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Über {{ device.name }}</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" cellspacing="0">
                            <tbody id="speedalerts">
                                <tr>
                                    <th class="table-active">Name</th>
                                    <th>{{ device.name }}</th>
                                </tr>
                                <tr>
                                    <th class="table-active">Kommentar</th>
                                    <th>{{ device.comment }}</th>
                                </tr>
                                <tr>
                                    <th class="table-active">Standort</th>
                                    <th>{{ device.location_display_name }}</th>
                                </tr>
                                <tr>
                                    <th class="table-active">Lora WAN Network Server (LNS)</th>
                                    <th>{{ device.connector() }}</th>
                                </tr>
                                <tr>
                                    <th class="table-active">LNS ID</th>
                                    <th>{{ device.device_extern_id }}</th>
                                </tr>
                                <tr>
                                    <th class="table-active">onboarding am</th>
                                    <th>{{ device.local_inserted_at() }}</th>
                                </tr>
                                <tr>
                                    <th class="table-active">erste Messung</th>
                                    <th>{{ data.first_tick_at }}</th>
                                </tr>
                                <tr>
                                    <th class="table-active">letzte Messung</th>
                                    <th>{{ data.last_tick_at }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if current_user.is_authenticated %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Messungen</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ data['temp'].name + ' ' + data['temp'].unit }}</th>
                        <th>{{ data['pres'].name + ' ' + data['pres'].unit }}</th>
                        <th>{{ data['hum'].name + ' ' + data['hum'].unit }}</th>
                        <th>{{ data['pm25'].name + ' ' + data['pm25'].unit }}</th>
                        <th>{{ data['pm10'].name + ' ' + data['pm10'].unit }}</th>
                        <th>{{ data['pm1'].name + ' ' + data['pm1'].unit }}</th>
                        <th>{{ data['so2'].name + ' ' + data['so2'].unit }}</th>
                        <th>{{ data['o3'].name + ' ' + data['o3'].unit }}</th>
                        <th>{{ data['no2'].name + ' ' + data['no2'].unit }}</th>
                        <th>{{ data['co'].name + ' ' + data['co'].unit }}</th>
                        <th>Am</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>{{ data['temp'].name + ' ' + data['temp'].unit }}</th>
                        <th>{{ data['pres'].name + ' ' + data['pres'].unit }}</th>
                        <th>{{ data['hum'].name + ' ' + data['hum'].unit }}</th>
                        <th>{{ data['pm25'].name + ' ' + data['pm25'].unit }}</th>
                        <th>{{ data['pm10'].name + ' ' + data['pm10'].unit }}</th>
                        <th>{{ data['pm1'].name + ' ' + data['pm1'].unit }}</th>
                        <th>{{ data['so2'].name + ' ' + data['so2'].unit }}</th>
                        <th>{{ data['o3'].name + ' ' + data['o3'].unit }}</th>
                        <th>{{ data['no2'].name + ' ' + data['no2'].unit }}</th>
                        <th>{{ data['co'].name + ' ' + data['co'].unit }}</th>
                        <th>Am</th>
                    </tr>
                    </tfoot>
                    <tbody id="measurements">
    {% for measurement in measurements %}
                        <tr>
                            <th>{{ measurement.temp }}</th>
                            <th>{{ measurement.pres }}</th>
                            <th>{{ measurement.hum }}</th>
                            <th>{{ measurement.pm25 }}</th>
                            <th>{{ measurement.pm10 }}</th>
                            <th>{{ measurement.pm1 }}</th>
                            <th>{{ measurement.so2 }}</th>
                            <th>{{ measurement.o3 }}</th>
                            <th>{{ measurement.no2 }}</th>
                            <th>{{ measurement.co }}</th>
                            <th>{{ measurement.measured_at }}</th>
                        </tr>
    {% endfor%}
                    </tbody>
                </table>
            </div>
            <hr>
            Messungen für {{ device.name }} des <code>letzten Tages</code>.
        </div>
    </div>
{% endif %}

{% endblock %}

{% block script %}

 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

  <!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<!-- Page level custom scripts -->
<!-- Charts and Metrics -->
<script src="{{ url_for('static', filename='js/chart-functions.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart-pmatter.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart-gas-stacked.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts-smart-enviroment-demo.js') }}"></script>

<script>
    $(document).ready(function () {

        // Fetch Chart Data
        fetch("{{ url_for('chart_metrics_day', device_id=device.device_id) }}")
            .then((response) => response.json()) // Transform the data into json
                .then(function(data) {

                    console.log(data)

                    // Update Chart Gas Concentrations
                    var ctx = document.getElementById("ChartGas");
                    var myChart = drawGasCountChart(ctx, data.chart_gas);

                    // Update Chart Particulary Matter
                    ctx = document.getElementById("ChartPmatter");
                    myChart = drawPmatterChart(ctx, data.chart_pm);

                    // Update Chart Humidity
                    ctx = document.getElementById("ChartHumidity");
                    myChart = drawHumidityChart(ctx, data.chart_hum);

                    // Update ChartTemperature
                    ctx = document.getElementById("ChartTemperature");
                    myChart = drawTempChart(ctx, data.chart_temp);

                    // Update ChartPres
                    ctx = document.getElementById("ChartPres");
                    myChart = drawPresChart(ctx, data.chart_pres);
            })

        // Call the dataTables jQuery plugin
        $('#dataTable').DataTable({
            language: {
                "sEmptyTable":      "Keine Daten in der Tabelle vorhanden",
                "sInfo":            "_START_ bis _END_ von _TOTAL_ Einträgen",
                "sInfoEmpty":       "Keine Daten vorhanden",
                "sInfoFiltered":    "(gefiltert von _MAX_ Einträgen)",
                "sInfoPostFix":     "",
                "sInfoThousands":   ".",
                "sLengthMenu":      "_MENU_ Einträge anzeigen",
                "sLoadingRecords":  "Wird geladen ..",
                "sProcessing":      "Bitte warten ..",
                "sSearch":          "Suchen",
                "sZeroRecords":     "Keine Einträge vorhanden",
                "oPaginate": {
                    "sFirst":       "Erste",
                    "sPrevious":    "Zurück",
                    "sNext":        "Nächste",
                    "sLast":        "Letzte"
                },
                "oAria": {
                    "sSortAscending":  ": aktivieren, um Spalte aufsteigend zu sortieren",
                    "sSortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
                },
                "select": {
                    "rows": {
                        "_": "%d Zeilen ausgewählt",
                        "0": "",
                        "1": "1 Zeile ausgewählt"
                    }
                },
                "buttons": {
                    "print":    "Drucken",
                    "colvis":   "Spalten",
                    "copy":     "Kopieren",
                    "copyTitle":    "In Zwischenablage kopieren",
                    "copyKeys": "Taste <i>ctrl</i> oder <i>\u2318</i> + <i>C</i> um Tabelle<br>in Zwischenspeicher zu kopieren.<br><br>Um abzubrechen die Nachricht anklicken oder Escape drücken.",
                    "copySuccess": {
                        "_": "%d Zeilen kopiert",
                        "1": "1 Zeile kopiert"
                    },
                    "pageLength": {
                        "-1": "Zeige alle Zeilen",
                        "_":  "Zeige %d Zeilen"
                    }
                }
            }
        } );

        //init Leaflet Map
{% if device.location_longitude != 0 and device.location_longitude != 0 %}
        var map = L.map('map').setView([{{ device.location_latitude }}, {{ device.location_longitude }}], 20);
{% else %}
        var map = L.map('map').setView([0, 0], 20);
{% endif %}

        var geocoder = L.Control.Geocoder.nominatim();
        if (URLSearchParams && location.search) {
            // parse /?geocoder=nominatim from URL
            var params = new URLSearchParams(location.search);
            var geocoderString = params.get('geocoder');
            if (geocoderString && L.Control.Geocoder[geocoderString]) {
                console.log('Using geocoder', geocoderString);
                geocoder = L.Control.Geocoder[geocoderString]();
            } else if (geocoderString) {
                console.warn('Unsupported geocoder', geocoderString);
            }
        }
        var control = L.Control.geocoder({
            geocoder: geocoder
        })
        .on('markgeocode', function(e) {
            var r = e.geocode;
            if (r) {
                document.getElementById('location_longitude_value').value = r.center.lng;
                document.getElementById('location_latitude_value').value = r.center.lat;
                document.getElementById('location_display_name_value').value = r.name;
            }
        })
        .addTo(map);

        var marker;

        L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

{% if device.location_longitude != 0 and device.location_longitude != 0 %}
        marker = L.marker([{{ device.location_latitude }}, {{ device.location_longitude }}]).addTo(map)
            .bindPopup('{{ device.location_display_name }}');
{% endif %}


        map.on('click', function(e) {
            geocoder.reverse(e.latlng, map.options.crs.scale(map.getZoom()), function(results) {
                var r = results[0];
                if (r) {
                    document.getElementById('location_longitude_value').value = r.center.lng;
                    document.getElementById('location_latitude_value').value = r.center.lat;
                    document.getElementById('location_display_name_value').value = r.name;
                    if (marker) {
                        marker
                        .setLatLng(r.center)
                        .setPopupContent(r.html || r.name)
                        .openPopup();
                    } else {
                        marker = L.marker(r.center)
                        .bindPopup(r.name)
                        .addTo(map)
                        .openPopup();
                    }
                }
            });
        });
    });

    $('#setlocation').on('shown.bs.modal', function () {
        window.dispatchEvent(new Event('resize'));
    })

</script>
{% endblock %}

{% block modals%}

<!-- Edit Device -->
<div class="modal" id="speedfreakedit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Device ändern?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="idDeviceEditForm" method="POST" action="{{ url_for('device_edit', device_id=device.device_id) }}" novalidate>
                    {{ form.hidden_tag() }}
                    {{ render_field_label(form.name, value=device.name) }}
                    {{ render_field_label(form.comment, value=device.comment) }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-icon-split btn-sm" onclick="document.idDeviceEditForm.submit();">
                    <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">Speichern</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Set Location -->
<div class="modal" id="setlocation" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Standort suchen & festlegen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-1by1">
                    <div class="embed-responsive-item" id="map"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-none">
                    <form name="idsetlocationform" method="POST" action="{{ url_for('device_setlocation', device_id=device.device_id) }}" novalidate>
                        {{ setlocationform.hidden_tag() }}
                        {{ render_field(setlocationform.location_longitude, value=device.location_longitude, id='location_longitude_value') }}
                        {{ render_field(setlocationform.location_latitude, value=device.location_latitude, id='location_latitude_value') }}
                        {{ render_field(setlocationform.location_display_name, value=device.location_display_name, id='location_display_name_value') }}
                    </form>
                </div>
                <button type="submit" class="btn btn-primary btn-icon-split btn-sm" onclick="document.idsetlocationform.submit();">
                    <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">Speichern</span>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}