{% extends "base.html" %}

{% block backbutton%}
<div class="col text-left">
    <a class="nav-link" href="{{ url_for('index') }}"><i class="material-icons">arrow_back_ios</i></a>
</div>
{% endblock %}

{% block content %}
    {{ super() }}
<div class="container-fluid">
    <ul class="list-group">
        <!-- Kontakt -->
        <div class="list-group-item">
            <a href="{{ url_for('locations') }}" class="btn btn-block btn-lg active">
                <i class="material-icons">where_to_vote</i>
                Standorte
            </a>
        </div>
        <!-- Datenschutz -->
        <div class="list-group-item">
            <a href="#" class="btn btn-block btn-lg active">
                <i class="material-icons">build</i>
                Vergleichen
            </a>
        </div>
        <!-- Impessum -->
        <div class="list-group-item">
            <a href="#" class="btn btn-block btn-lg active">
                <i class="material-icons">person</i>
                Account
            </a>
        </div>
        <!-- -->
    </ul>
</div>
{% endblock %}