{% from "macros.html" import render_field, render_field_label, render_checkbox %}

{% extends "base.html" %}

{% block title %}
{{ super() }}
{% if not title %}Speed-o-Mat{% endif %}
{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Profil</h1>
</div>

<div class="row">

  <div class="col-lg-6">

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Benutzer</h6>
      </div>
      <div class="card-body">
        <form method="POST" action="{{ url_for('user', user_id=current_user.id) }}" novalidate>
          {{ form.hidden_tag() }}
          {{ render_field_label(form.email, value=current_user.email, autofocus=true) }}
          {{ render_field_label(form.firstname, value=current_user.firstname) }}
          {{ render_field_label(form.lastname, value=current_user.lastname) }}
          <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">Speichern</span>
          </button>
        </form>
      </div>
    </div>

    <!-- Reset Password -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Passwort zurücksetzen</h6>
      </div>
      <div class="card-body">
        <form method="POST" action="{{ url_for('resetpassword', user_id=current_user.id) }}" novalidate>
            {{ form_password.hidden_tag() }}
            {{ render_field_label(form_password.password_old, value=form_password.password_old.data, autofocus=true) }}
            {{ render_field_label(form_password.password_new, value=form_password.password_new.data) }}
            {{ render_field_label(form_password.passwordrepeat, value=form_password.passwordrepeat.data) }}
            <button type="submit" class="btn btn-primary btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
              </span>
              <span class="text">Reset</span>
            </button>
          </form>
      </div>
    </div>

  </div>

  <div class="col-lg-6">

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Avatar</h6>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col">
              <img class="img-profile rounded-circle" src="{{ current_user.avatar(100) }}">
            </div>
            <div class="col">
              <p>Hinterlegen Sie zu Ihrer eMail-Adresse <code>{{ current_user.email }}</code> Ihr Profilbild bei <a target="_blank" href="https://de.gravatar.com/">GRAVATAR</a></p>
            </div>
          </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}