{% extends "base.html" %}

{% block title %}
{{ super() }}
{% if not title %}Speed-o-Mat{% endif %}
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-lg-6">

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Benutzer</h6>
      </div>
      <div class="card-body">
        <form class="user">
          <div class="form-group">
            <input type="email" class="form-control form-control-user"
              id="eMail" aria-describedby="emailHelp"
              placeholder="Enter Email Address..." value="{{ current_user.email }}">
          </div>

          <div class="form-group">
            <input type="text" class="form-control form-control-user"
              id="firstname" aria-describedby="emailHelp"
              placeholder="Enter Firstname..." value="{{ current_user.firstname }}">
          </div>
         
        </form>
      </div>
    </div>

  </div>

  <div class="col-lg-6">

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Avatar</h6>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col">
              <img class="img-profile rounded-circle" src="{{ current_user.avatar(100) }}">
            </div>
            <div class="col">
              <p>Hinterlegen Sie zu Ihrer eMail-Adresse <code>{{ current_user.email }}</code> Ihr Profilbild bei <a target="_blank" href="https://de.gravatar.com/">GRAVATAR</a></p>
            </div>
          </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}