{% extends "base.html" %}

{% block title %}
{{ super() }}
{% if not title %}Speed-o-Mat{% endif %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>

<style>
    /* Set the size of the div element that contains the map */
    #map {
    /*height: 100vh;*/
    width: 100%;
    }
</style>
{% endblock %}

{% block backbutton%}
{% endblock %}

{% block content %}
{{ super() }}
<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{{ device.register0_name }}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id="register0">{{ device.kWh(0) }} kWh</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-bolt fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ device.register1_name }}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id="register1">{{ device.kWh(1) }} kWh</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-bolt fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>    

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Batterie</div>
                <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="battery_perc">{{ device.batteryPerc }} %</div>
                </div>
                <div class="col">
                    <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width:{{ device.batteryPerc }}%" aria-valuenow="{{ device.batteryPerc }}" aria-valuemin="0" aria-valuemax="100" id="device.batteryPerc"></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-auto">
                <i class="fas fa-battery-half fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">LastSeen</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id="lastseen_at">{{ device.lastseen() }}</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-receipt fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>


<div class="row">

    <!-- Loadprofile -->
    <div class="col-lg-12">

        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Lastverlauf</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Zeitraum:</div>
                        <a class="dropdown-item" href="{{ url_for('index') }}?period=0">letzte 30 Tage (Monat)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('index') }}?period=1">Vortag</a>
                        <a class="dropdown-item" href="{{ url_for('index') }}?period=2">letzte 24 Stunden (Tag)</a>
                        <a class="dropdown-item" href="{{ url_for('index') }}?period=3">letzte 12 Monate (Jahr)</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-container" style="position: relative; height:30vh;">
                    <canvas id="idChartLoadprofile"></canvas>
                </div>
                <hr>
                Lastverlauf der Register 
                    {% if period == 1 %}
                        für den <code>{{ daybefore }}
                    {% elif period == 2 %}
                        für die <code>letzten 24 Stunden (Tag)
                    {% elif period == 3 %}
                        für die <code>letzten 12 Monate (Jahr)                       
                    {% else %}
                        für die <code>letzten 30 Tage (Monat)
                        
                    {% endif %}
                </code>.
            </div>
        </div>

    </div>

</div>



<div class="row">

    <!-- Collapsable Card Example -->
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Was ist ein Klax ?</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                    <p>Der KLAX macht die Werte von modernen Stromzählern sofort verfügbar und hilft dadurch wirkungsvolle Energiesparmaßnahmen umzusetzen sowie Transparenz zu schaffen. Dazu wird der KLAX per Magnet an die integrierte, optische Schnittstelle von modernen Messeinrichtungen (mME) angeheftet. Die Signale der Infrarot-Schnittstelle werden über den Optokopf aufgenommen und per LoRaWAN übertragen. 
                    Die ermittelten Messwerte stehen bereits kurz nach der Messung im LoRaWAN-Backend zur Verfügung und können mit geeigneter Software weiterverarbeitet werden. Ihren Klax können Sie z.B. über <b><a target="_blank" href="https://iot-shop.de/klax">iot-shop.de</a></b> beziehen!</p>
                    <hr>
                    <p><b>MyKlax</b> ist eine kleine Software die über das MQTT Protokoll von Ihrem LoRaWAN-Backend in Echtzeit Zählerstände empfängt und verarbeitet. Wollen Sie auch ? <b><a target="_blank" href="https://github.com/omza/klax.dashboard">GO FOR IT!</a></b></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Device Data -->
    <div class="col-lg-6">
        <!-- Bar Chart -->
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseMyKlax" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseMyKlax">
                <h6 class="m-0 font-weight-bold text-primary">Mein Klax</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseMyKlax">
                <div class="card-body">
                    <p>Device_ID<span class="float-right">{{ device.device_extern_id }}</span>
                    <p>dev_eui<span class="float-right">{{ device.dev_eui }}</span>                        
                    <p>LoraWan Backend<span class="float-right"><a target="_blank" href="{{ device.lorawan()['link'] }}">{{ device.lorawan()['name'] }}</a></span>
                    <p>Konfiguriert
                        <span class="float-right">

                            {% if not device.configured %}

                            <a href="#" class="btn btn-warning btn-circle btn-sm">
                                <i class="fas fa-exclamation"></i>
                            </a>

                            {% else %}
                            <a href="#" class="btn btn-success btn-circle btn-sm">
                                <i class="fas fa-check"></i>
                            </a>                            

                            {% endif %}
                        </span>
                    </p>
                    <hr>

                    <p>Verfügbarkeit<span class="float-right">{{ device.availability()['percent'] }}%</span>
                    <div class="progress">
                        <div class="progress-bar bg-{{ device.availability()['label'] }}" role="progressbar" style="width: {{ device.availability()['percent'] }}%"
                            aria-valuenow="{{ device.availability()['percent'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div></p>
                    <p class="small">Erstellt<span  class="float-right">{{ device.created() }}</span></p>
                    <p class="small">Last Seen<span class="float-right">{{ device.lastseen() }}</span>                    
                    <hr>
                    Ihr letzter <code>KLAX</code> Status.
                </div>
            </div>
        </div>
    </div>


</div>



{% endblock %}

{% block script %}
<!-- Page level plugins -->
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', path='/js/chart-functions.js') }}"></script>
<script src="{{ url_for('static', path='/js/charts-myklax.js') }}"></script>

<script>
    $(document).ready(function () {

        // Update Charts
        fetch("{{ url_for('ChartLoadprofile', period=period) }}")
        .then((response) => response.json()) // Transform the data into json
            .then(function(data) {
                console.log(data);
                const ctx = document.getElementById("idChartLoadprofile");
                const myChart = drawBarChartLoadprofile(ctx, data.type, data.timeseries);
        })
    });
</script>
{% endblock %}